@charset "UTF-8";

#main-body {
    width: 100%;
    padding-top: 2rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .introduction {
    width: 50%;
    border-bottom: 0.0625rem solid #424242;
    padding: 2rem 0;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .introduction > .title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
    color: #e4e5e6;
}

#main-body > .introduction > .text {
    color: #757575;
    padding-bottom: 2rem;
    font-size: 1rem;
    font-weight: 400;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .introduction > .text > .caption {
    padding: 0.2rem 0;
}

#main-body > .certificate-container {
    border-bottom: 0.0625rem solid #424242;
    width: 50%;
    padding: 2rem 0;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .certificate-container > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-body > .certificate-container > .content > .section-title {
    color: #e4e5e6;
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 1rem;
    align-self: flex-start;
}

#main-body > .certificate-container > .content > .section-content {
    text-align: center;
    width: 100%;
}

#main-body > .certificate-container > .content > .section-content > .item > .list {
    list-style: none;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#main-body > .certificate-container > .content > .section-content > .item > .list > .date-box {
    text-align: left;
    width: 40%;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
}

#main-body > .certificate-container > .content > .section-content > .item > .list > .date-box > .list-style {
    height: 1rem;
}

#main-body > .certificate-container > .content > .section-content > .item > .list > .date-box > .date {
    color: #757575;
}

#main-body > .certificate-container > .content > .section-content > .item > .list > .name {
    padding-bottom: 1rem;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .certificate-container > .content > .section-content > .item > .list > .name > .title {
    color: #e4e5e6;
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

#main-body > .certificate-container > .content > .section-content > .item > .list > .name > .subtitle {
    color: #e4e5e6;
    font-size: 1rem;
    font-weight: 500;
}

#main-body > .activity-container {
    border-bottom: 0.0625rem solid #424242;
    width: 50%;
    padding: 2rem 0;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .activity-container > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-body > .activity-container > .content > .section-title {
    color: #e4e5e6;
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 1rem;
    align-self: flex-start;
}

#main-body > .activity-container > .content > .section-content {
    text-align: center;
    width: 100%;
}

#main-body > .activity-container > .content > .section-content > .item > .list {
    list-style: none;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#main-body > .activity-container > .content > .section-content > .item > .list > .date-box {
    text-align: left;
    width: 40%;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
}

#main-body > .activity-container > .content > .section-content > .item > .list > .date-box > .list-style {
    height: 1rem;
}

#main-body > .activity-container > .content > .section-content > .item > .list > .date-box >  .date {
    color: #757575;
}

#main-body > .activity-container > .content > .section-content > .item > .list > .name {
    padding-bottom: 1rem;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .activity-container > .content > .section-content > .item > .list > .name > .title {
    color: #e4e5e6;
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

#main-body > .education-container {
    border-bottom: 0.0625rem solid #424242;
    width: 50%;
    padding: 2rem 0;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .education-container > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-body > .education-container > .content > .section-content {
    text-align: center;
    width: 100%;
}

#main-body > .education-container > .content > .section-title {
    color: #e4e5e6;
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 1rem;
    align-self: flex-start;
}

#main-body > .education-container > .content > .section-content > .item > .list {
    list-style: none;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#main-body > .education-container > .content > .section-content > .item > .list > .date-box {
    text-align: left;
    width: 40%;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
}

#main-body > .education-container > .content > .section-content > .item > .list > .date-box > .list-style {
    height: 1rem;
}

#main-body > .education-container > .content > .section-content > .item > .list > .date-box > .date {
    color: #757575;
}

#main-body > .education-container > .content > .section-content > .item > .list > .name {
    padding-bottom: 1rem;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .education-container > .content > .section-content > .item > .list > .name > .title {
    color: #e4e5e6;
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

#main-body > .skill-container {
    border-bottom: 0.0625rem solid #424242;
    width: 50%;
    padding: 2rem 0;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .skill-container > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-body > .skill-container > .content > .section-title {
    color: #e4e5e6;
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 1rem;
    align-self: flex-start;
    width: 100%;
}

#main-body > .skill-container > .content > .sub-title {
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

#main-body > .skill-container > .content > .sub-title > .title {
    color: #e4e5e6;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    width: 30%;
}

#main-body > .skill-container > .content > .sub-title > .section-content {
    margin: 0;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .skill-container > .content > .sub-title > .section-content > .first-item {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
}

#main-body > .skill-container > .content > .sub-title > .section-content > .sub-item {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
}

#main-body > .skill-container > .content > .sub-title > .section-content > .first-item > .list {
    background-color: #e7b846;
    box-sizing: border-box;
    border-radius: 6.25rem;
    color: #18191b;
    font-size: 0.875rem;
    font-weight: 600;
    list-style: none;
    padding: 0.5rem 1.75rem;
    margin: 0;
    text-align: center;
}

#main-body > .skill-container > .content > .sub-title > .section-content > .sub-item > .list {
    background-color: #18191b;
    box-sizing: border-box;
    border-radius: 6.25rem;
    border: 0.0625rem solid #757575;
    color: #e4e5e6;
    font-size: 0.875rem;
    font-weight: 600;
    list-style: none;
    padding: 0.5rem 1rem;
    margin: 0;
    text-align: center;
}

#main-body > .skill-container > .content > .thr-title {
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

#main-body > .skill-container > .content > .thr-title > .title {
    color: #e4e5e6;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    width: 30%;
}

#main-body > .skill-container > .content > .thr-title > .section-content {
    margin: 0;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .skill-container > .content > .thr-title > .section-content > .sub-item {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
}

#main-body > .skill-container > .content > .thr-title > .section-content > .sub-item > .list {
    background-color: #e7b846;
    box-sizing: border-box;
    border-radius: 6.25rem;
    color: #18191b;
    font-size: 0.875rem;
    font-weight: 600;
    list-style: none;
    padding: 0.5rem 1.75rem;
    margin: 0;
    text-align: center;
}

#main-body > .project-container {
    border-bottom: 0.0625rem solid #424242;
    width: 50%;
    padding: 2rem 0;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .project-container > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-body > .project-container > .content > .section-content {
    text-align: left;
    width: 100%;
}

#main-body > .project-container > .content > .section-title {
    color: #e4e5e6;
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 1rem;
    align-self: flex-start;
}

#main-body > .project-container > .content > .section-content > .item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

#main-body > .project-container > .content > .section-content > .item > .list {
    list-style: none;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
}

#main-body > .project-container > .content > .section-content > .item > .list > .title {
    text-align: left;
    width: 50%;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
}

#main-body > .project-container > .content > .section-content > .item > .list > .title > .list-style {
    height: 1rem;
}

#main-body > .project-container > .content > .section-content > .item > .list > .title > .date-box {
    width: 10rem;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .project-container > .content > .section-content > .item > .list > .title > .date-box > .list-style {
    height: 1rem;
}

#main-body > .project-container > .content > .section-content > .item > .list > .title > .date-box > .title-name {
    color: #e4e5e6;
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom: 0.25rem;
}

#main-body > .project-container > .content > .section-content > .item > .list > .title > .date-box > .date {
    color: #757575;
}

#main-body > .project-container > .content > .section-content > .item > .list > .name {
    padding-bottom: 1rem;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: flex-start;
}

#main-body > .project-container > .content > .section-content > .item > .list > .name > .caption-wrap {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-body > .project-container > .content > .section-content > .item > .list > .name > .caption-wrap > .subtitle {
    color: #e4e5e6;
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

#main-body > .project-container > .content > .section-content > .item > .list > .name > .image {
    width: 20%;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

#main-body > .project-container > .content > .section-content > .item > .list > .name > .caption-wrap > .text {
    color: #757575;
}