@charset "UTF-8";

#nav {
    top: 60%;
    right: 12.5rem;
    height: 100vw;
    width: 12.5rem;
    margin-left: 3.75rem;
    position: absolute;

    z-index: 2;
}

#nav > .list {
    top: 3.75rem;
    position: sticky;
    list-style: none;
}

#nav > .list > .item {
    width: 100%;
    height: 3rem;

    background-color: #18191b;
    box-sizing: border-box;
    border-radius: 6.25rem;
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    max-width: 12.5rem;
    overflow: hidden;
    padding: 0 1rem;
    margin: 0.5rem 0;
    text-align: left;
}

#nav > .list > .item:hover {
    background-color: #e7b846;
    color: #18191b;

    transition-duration: 300ms;
    transition-timing-function: ease;
}

#nav > .list > .item:active {
    background-color: #e7b846;
    color: #18191b;
}

#nav > .list > .item > .scroll {
    width: 100%;
    height: 100%;
    color: #e4e5e6;
    text-decoration: none;

    align-items: center;
    display: flex;
    justify-content: flex-start;
}

#nav > .list > .item > .scroll:hover {
    color: #18191b;
}

#nav > .list > .item > .scroll:active {
    color: #18191b;
}

#nav > .list > .item.active {
    background-color: #e7b846;
    color: #18191b;
}

#nav > .list > .item.active > .scroll {
    color: #18191b;
}